:root {
    --color: #108A00;
    --darkgreencolor: rgb(4, 48, 7);
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    width: 82px;
    height: 82px;
    margin-left: 8%;
}

.nav {
    border-bottom: 2px solid rgb(227, 223, 223);
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(50, 49, 49);
}

.nav-bar1 {
    border: 2px solid var(--color);
    width: 58%;
    display: flex;
    align-items: center;

}

.nav-bar2 {
    border: 2px solid rgb(157, 6, 79);
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.nav-sec-elements {
    width: 29%;
    text-align: center;
}

.nav-sec-elements:hover {
    cursor: pointer;
}

.nav-first-elements {
    width: 50%;
}

.nav-first-elements:hover {
    color: #14a800;
    cursor: pointer;
}

.signup {
    color: white;
    background-color: var(--color);
    width: 100%;
    height: 40px;
    border-radius: 18px;
}

.signup:hover {
    background-color: #23b610;
    cursor: pointer;
}

.search {
    width: 16%;
}

.log {
    width: 24%;
}

.sign {
    width: 33%;
}

/* Second navigation bar */

.sec-nav {
    border: 2px solid black;
    display: flex;
    align-items: center;
    height: 9vh;
}

.sec-nav>div {
    width: 14%;
    text-align: center;
}

.sec-nav a {
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(50, 49, 49);
    text-decoration: none;
}

.sec-nav a:hover {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

.more {
    display: flex;
    justify-content: center;
}

.head {
    width: 100%;
    /* background-color: white; */
    position: fixed;
}

/* Main content */
.main {
    width: 50%;
}

.main-elements {
    border: 4px solid blue;
    height: 25vh;
}

.main-element-1 {
    height: 25vh;
}

.main-element-2 {
    color: #14A800;
    font-size: 37px;
    font-family: sans-serif;
    height: 29vh;
}

.main-element-2>h2 {
    font-size: 28px;
}

.main-element-2>h1 {
    font-size: 68px;
    font-weight: bolder;
}


.main-element-3 h3 {
    font-family: sans-serif;
    font-weight: lighter;
    color: rgb(90, 89, 89);
    font-size: 18px;

}

.start {
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14.5px;
    background-color: var(--color);
    border-radius: 20px;
    height: 40px;
    width: 25%;
    padding-left: 2%;
    padding-right: 2%;

}

.start:hover {
    background-color: #23b610;
    cursor: pointer;
}

.main h3 {
    color: rgb(107, 106, 106);
    font-family: sans-serif;
    font-size: 17px;

}

.main-elements-5 {
    display: flex;
}

.logos {
    height: 7vh;
    width: 20%;
}

.image {
    width: 40%;
    height: 110vh;
    display: flex;
    align-items: center;
}

.image>img {
    width: 100%;
}

.both-main {
    display: flex;
    justify-content: space-around;
    margin: 3%;
}

/* Second portion */

.combine-sec {
    display: flex;
    justify-content: space-around;

}

.sec-2 {
    width: 40%;
}

.sec-1 {
    width: 45%;
}

.sec-1>img {
    width: 100%;
}

.sec-2 {
    color: var(--darkgreencolor);
    font-family: sans-serif;
}

.sixth-items p,
.sec-2 p {
    color: rgb(66, 99, 66);
    font-size: 15px;
}

.sec-2 h2 {
    color: var(--darkgreencolor);
    font-size: 19px;
}

.sec-2 h1,
.sixth-sec-1 h1,
.sixth-sec-1 h2,
.seventh-sec-head h1,
.third-heading h1 {
    color: var(--darkgreencolor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.both-buttons {
    display: flex;
}

.sec-part-btn {
    width: 38%;
    margin: 2%;
}

.btn-1 {
    background-color: var(--color);
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 18px;
    font-family: sans-serif;
    font-size: 16px;
}

.btn-1:hover {
    background-color: #23b610;
    cursor: pointer;
}

.btn-2 {
    border-color: var(--color);
    color: var(--color);
    width: 100%;
    height: 40px;
    border-radius: 18px;
    font-family: sans-serif;
    font-size: 16px;

}

.btn-2:hover {
    background-color: rgb(233, 231, 231);
    cursor: pointer;
}

.third-sec {
    font-family: sans-serif;
    margin-left: 4%;
    margin-right: 4%;
}

.third-sec a {
    color: green;
}

.third-sec p {
    color: rgb(87, 86, 86);
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    grid-template-rows: 100px 100px 100px 100px;

}

.items {
    border: 2px solid black;
    border-radius: 9px;
    background-color: #F7FAF7;
    color: var(--darkgreencolor);
    font-size: 19px;
    padding: 4%;
}

.items:hover {
    background-color: #E4EBE4;
    cursor: pointer;
}

.rate-skills {
    display: flex;
    align-items: center;
    margin-top: 3%;
    font-size: 16px;
    color: gray;
}

.skills {
    margin-left: 10%;
}

.rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Fourth portion */


.fourth-image {
    width: 45%;
}

.fourth-image>img {
    width: 100%;
    height: 82vh;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.fourth-sec {
    font-family: sans-serif;
    color: white;
    margin-top: 4%;
}

.fourth-together {
    display: flex;
    margin: 3%;
    margin-left: 4%;
}

.both-items {
    background-color: #13544E;
    width: 53%;
    padding: 3%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.fourth-items>h2 {
    font-family: sans-serif;
    font-weight: lighter;
    margin-bottom: 2%;
    font-size: 19px;

}

.fourth-items>h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fourth-head {
    line-height: 15px;
}

.fourth-head,
.symbols {
    color: #91E6B3;
}

.fourth-items>button {
    background-color: white;
    color: #13544E;
    width: 29%;
    height: 40px;
    border-radius: 18px;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 3%;
}

.fourth-items>button:hover {
    cursor: pointer;
}

/* Fifth - sec */

.fifth-sec {
    position: relative;
    height: 80vh;
}

.fifth-sec-1 {
    background-image: url(./images/find-talent-mobile.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 70vh;
    margin: 3%;
    margin-right: 4%;
    border-radius: 9px;
}

.fifth-sec-1>img {
    width: 100%;
}

.together-headings {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2%;
    color: #13544E;
}

.box {
    background-color: var(--color);
    width: 100%;
    height: 20vh;
    font-family: sans-serif;
    color: white;
    border-radius: 9px;
    padding: 2%;
    margin: 2%;
}

.box>h2 {
    font-size: 22px;
    font-weight: bolder;
    padding-bottom: 3%;
}

.box>p {
    font-size: 15px;
}

.box:hover {
    background-color: rgb(250, 238, 217);
    color: var(--color);
    cursor: pointer;
}

.fifth-sec-2 {
    display: flex;
    width: 93%;
    position: absolute;
    top: 43%;
    margin: 3%;
}

/* Sixth portion */

.sixth-heading {
    font-size: 48px;
}

.sixth-sec-1 {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.sixth-sec-3 h2 {
    font-size: 28px;
}

.sixth-items {
    margin: 1%;
}

.sixth-sec-2>img {
    width: 160%;
    height: 63vh;
}

.sixth-sec-2 {
    width: 27%;
}

.sixth-both {
    display: flex;
    background-color: #F2F7F2;
    width: 60%;
    padding: 2%;
}

.sixth-sec-3 {
    background-color: var(--color);
    height: 63vh;
    width: 30%;
    color: white;
    padding: 3%;
    border-radius: 9px;

}

.sixth-thrice {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 1%;

}

.sixth-sec-3>h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;

}

/* Seventh portion */
.seventh-sec {
    background-color: #13544E;
    color: white;
    border-radius: 9px;
    padding: 2%;
}

.seventh-sec-b {
    background-color: #BC511B;
    color: white;
    border-radius: 9px;
    padding: 2%;
}

.combine-seventh {
    display: flex;
    gap: 4%;
    margin: 3%;
}

.seventh-sec-head {
    margin: 3%;
}

.combine-seventh h5 {
    font-weight: lighter;
    font-size: 17px;
}